{%extends "admin_layout.html"%} <!--Inherited all features-->
{%block content%}
            <div class="center"><h3> New Subject </h3></div>
            <form action="/subject/{{name}}" method="POST">
            <div class="input_form">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" name="name"id="name" placeholder="Enter subject name" required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" class="form-control" name="description"id="description" placeholder="Enter a brief description" required>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a href ="/admin/{{name}}" type="button" class="btn btn-primary"> Cancel</a>
                </div>
            </form>
           
{%endblock%}