{%extends "admin_layout.html"%} <!--Inherited all features-->
{%block content%}
        {%if chapter%}
            <div class="center"><h3> Edit Chapter </h3></div>
            <form action="/edit_chapter/{{chapter.id}}/{{name}}" method="POST">
            <div class="input_form">
                <div class="mb-3">
                    <label for="cname" class="form-label">Name</label>
                    <input type="text" class="form-control" name="cname"id="cname" value="{{chapter.name}}" required >
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" class="form-control" name="description"id="description" value="{{chapter.description}}" required >
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href ="/admin/{{name}}" type="button" class="btn btn-primary"> Cancel</a>
                </div>
            </form>
            </div>
        {%endif%}
{%endblock%}