{%extends "admin_layout.html"%} <!--Inherited all features-->
{%block content%}
            {%if quiz%}
            <div class="center"><h3> New Quiz </h3></div>
            <form action="/edit_quiz/{{quiz.id}}/{{name}}" method="POST">
            <div class="input_form">
                <div class="mb-3">
                    <label for="chapter_id" class="form-label">Select Chapter</label>
                    <select class="form-control" name="chapter_id" id="chapter_id" required>
                        {% for chapter in chapters %}
                            <option value="{{ chapter.id }}" {% if chapter.id == quiz.chapter_id %}selected{% endif %}>
                                {{ chapter.name }} (ID: {{ chapter.id }})
                            </option>
                        {% endfor %}
                    </select>
                </div>       
                <div class="mb-3">
                    <label for="date_of_quiz" class="form-label">Date of Quiz</label>
                    <input type="date" class="form-control" name="date_of_quiz" id="date_of_quiz" value="{{quiz.date_of_quiz}}" required>
                </div>
                <div class="mb-3">
                    <label for="time_duration" class="form-label">Time Duration</label>
                    <input type="text" class="form-control" name="time_duration" id="time_duration" value="{{quiz.time_duration}}"placeholder="(HH:MM) e.g.,01:00"
                           pattern="^([0-9]{1,2}):([0-5][0-9])$"
                           title="Please enter the duration in hh:mm format (e.g., 00:10 for 10 minutes)">
                </div>
                <div class="mb-3">
                    <label for="no_of_questions" class="form-label">Total Questions</label>
                    <input type="number" class="form-control" name="no_of_questions"id="no_of_questions" value="{{quiz.no_of_questions}}" placeholder="Enter total number of questions" required>
                </div>             
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href ="/delete_quiz/{{quiz.id}}/{{name}}" type="button" class="btn btn-danger"> Delete</a>
                    <a href ="/quiz_management/{{name}}" type="button" class="btn btn-primary"> Cancel</a>
                </div>
            </form>
            </div>
            {%endif%}
{%endblock%}