<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/main.css">
    <title>Home Page</title>
   
</head>
<body>
    <!-- Add this inside your <body> tag as the first element -->
    <video autoplay muted loop id="bg-video">
        <source src="{{ url_for('static', filename='videos/3d 2.mp4') }}" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>

    <h1 class="home_page">"Welcome to Quiz Master – The Ultimate Quiz Experience!"</h1>
    <div class="my_container">
        Quiz Master is a dynamic platform where learning meets excitement. With quizzes across various subjects, you can enhance your knowledge while having fun.
    
        <div class="button-container">
            <div class="button">
                <a href="/login">Login</a>
            </div>
            <div class="button">
                <a href="/register">Register</a>
            </div>
        </div>
    </div>
    
    
</body>
</html>