{% extends "admin_layout.html" %}
{% block content %}
    <div class="container">
        {% if quizzes %}
        <div class="row">
            {% for quiz in quizzes %} 
                <div class="col">
                    <div class="card" style="width: 25rem">
                        <div class="card-body">
                            <h4 class="center1">
                                <a href="/edit_quiz/{{ quiz.id }}/{{ name }}">
                                    Quiz ({{ quiz.chapter.name }}) 
                                </a>
                            </h4>
                            
                            {% if quiz.questions %}
                            <table class="my_table">
                                <tr>
                                    <th>Question No.</th>
                                    <th>Question Type</th>
                                    <th>Action</th>  
                                </tr>
                                {% for question in quiz.questions %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ question.question_type }}</td>
                                    <td>
                                        <a href="/edit_question/{{ question.id }}/{{ name }}" class="btn btn-sm btn-secondary">Edit</a>
                                        <a href="/delete_question/{{ question.id }}/{{ name }}" class="btn btn-sm btn-danger">Delete</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                            {% else %}
                                <p>No questions available.</p>
                            {% endif %}
                            
                            <div class="center1">
                                <a href="/add_question/{{ quiz.id }}/{{ name }}" class="btn btn-sm btn-success">+ Add Question</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% else %}
            <h3 class="center">No quizzes available right now.</h3>
        {% endif %}
    </div>
{% endblock %}
