{% extends "user_layout.html" %}
{% block content %}

        <div class="container">
            <h2 class="text-center mt-3">{{ quiz.chapter.subject.name }} - {{quiz.chapter.name}}</h2>
            <p class="text-center"><strong>Time Remaining:</strong> <span id="timer"></span></p>

            <form action="/submit_quiz/{{quiz.id}}/{{user.id}}/{{name}}" method="POST">
                {% for question in questions %}
                <div class="card my-3">
                    <div class="card-body">
                        <h5>{{ loop.index }}. {{ question.question_statement }}</h5>
                        <input type="hidden" name="question_{{ question.id }}" value="{{ question.id }}">
                        <div>
                            <label><input type="radio" name="answer_{{ question.id }}" value="{{ question.option1 }}"> {{ question.option1 }}</label><br>
                            <label><input type="radio" name="answer_{{ question.id }}" value="{{ question.option2 }}"> {{ question.option2 }}</label><br>
                            <label><input type="radio" name="answer_{{ question.id }}" value="{{ question.option3 }}"> {{ question.option3 }}</label><br>
                            <label><input type="radio" name="answer_{{ question.id }}" value="{{ question.option4 }}"> {{ question.option4 }}</label>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-success w-100">Submit Quiz</button>
            </form>
        </div>

        <!-- Using JavaScript  Here For Timer -->
        <script>
            function startTimer(endTime) {
                let timerElement = document.getElementById("timer");
                let countDownDate = Date.parse(endTime);  // works with ISO 8601

                let x = setInterval(function () {
                    let now = new Date().getTime();
                    let distance = countDownDate - now;
                    if (distance < 0) {
                        clearInterval(x);
                        document.forms[0].submit();  
                        return;
                    }
                    let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    let seconds = Math.floor((distance % (1000 * 60)) / 1000);
                    timerElement.innerHTML = minutes + "m " + seconds + "s ";
                }, 1000);
            }
            startTimer("{{ end_time }}");
 
        </script>
        
{% endblock %}
